:root {
    --quase-branco: #e6dfee;
    --roxo-claro: #a17ddc;
    --azul-roxo: #5B61B2;
    --azul-escuro: #2F80E4;
    --azul-claro: #6DA0E1;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--azul-roxo);
    position: fixed;
    width: 100%;
    height: 10%;
}

main {
    width: 100%;
    height: 80%;
}

#sobre-mim {
    background-color: var(--roxo-claro);
}

#fotos {
    background-color: var(--azul-claro);
}

#competencias {
    background-color: var(--quase-branco);
}

#contatos {
    background-color: var(--azul-escuro);
}

footer {
    background-color: var(--azul-roxo);
    height: 5%;
    display: flex;
    justify-content: center;
    font-size: smaller;
}